body{
    background-image: url("https://i.scdn.co/image/ab67616d00001e023b880599c0dfab55b5a031c2");
    background-size: 20vw 20vw;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

ol{
    color: white;
    text-align: center;
}