body{
    background-image: url("https://i.scdn.co/image/ab67616d00001e023b880599c0dfab55b5a031c2");
    background-size: 20vw 20vw;
}

h1{
    color: white;
    text-align: center;
}

p{
    color: white;
    text-align: center;
}

ol{
    color: white;
    text-align: center;
}

.WE-LOVE-YOU{
    font-size: 50px;
    font-weight: bold;
    color: yellow;
}

.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 40vh;
    width: 40vw;
    margin: auto;
    place-items: center;
    gap: 0rem;
}